<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid  class="grid">
      <ion-row>
        <ion-col span="12" > 
          <ion-avatar class="slike">
            <ion-img  [src]='user.picture'></ion-img>
          </ion-avatar>
        </ion-col>
      </ion-row>

      <ion-row class="email ion-text-center" >
        <ion-col span='12' class="linija">
          <ion-label color="primary"><b>Email:</b></ion-label>
          <ion-label style="padding-left: 10px;" >{{user.email}}</ion-label>
        </ion-col>

        <!-- <ion-col span='7' style="border: 2px solid red"> 
          <ion-label color="primary">{{user.email}}</ion-label>
        </ion-col> -->

      </ion-row>

      <ion-row class="ion-text-center">
          <ion-col>
              <ion-label color="primary"><b>Username:</b></ion-label>
              <ion-label style="padding-left: 10px;" >{{user.username}}</ion-label>
          </ion-col>
      </ion-row>

      <ion-row class="ion-text-center">
          <ion-col>
              <ion-label color="primary"><b>Name:</b></ion-label>
              <ion-label style="padding-left: 10px;" >{{user.name}}</ion-label>
          </ion-col>
      </ion-row>

      <ion-row class="ion-text-center">
          <ion-col>
              <ion-label color="primary"><b>Last name:</b></ion-label>
              <ion-label style="padding-left: 10px;" >{{user.lastName}}</ion-label>
          </ion-col>
      </ion-row>

      <ion-row class="ion-text-center dugmici">
          <ion-col span="12">
              <ion-button routerLink='/profil-izmeni' color='secondary'>Izmeni profil</ion-button>
          </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
