.slike {
    margin-left: auto; 
    margin-right: auto;
    overflow: hidden;
    width: 170px;
    height: 170px;
}
.email {
    padding-top:30px;
    padding-left:20px;
    padding-right:20px;
}

.linija {
    padding-top:20px;
    border-top: 1px solid rgb(214, 212, 212);
}


