<ion-header>
  <ion-toolbar>
    <ion-title>Fast Aid</ion-title>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <ion-row >
      <ion-col >
        <ion-img src = "../../assets/images/HomePageSlika.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img src = "../../assets/images/homePageSlika2.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center" style="margin-top:0px;margin-left:30px; margin-right:30px; border-top:1px solid rgb(214, 212, 212);">
      <ion-col>
        <ion-label class="paragraf">
          Vas snabdevac zastitnom opremom od 1990. godine.
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
