<ion-header>
  <ion-toolbar>




    <ion-title>{{ p.name }}</ion-title>
    <ion-button (click)="close()" fill="clear" color="dark" slot="end">
      <ion-icon name="close" ></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col span="12">
        <ion-img src="{{ p.imgUrl }}" class="slika"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col span="12">
        <ion-label class="desc-font">
          {{ p.desc }}
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size="8">
        <ion-label color="secondary">
          <b>{{ p.price | currency:'RSD ' }}</b>
        </ion-label>
      </ion-col>
      <ion-col size="2" offset="2">
        <ion-button fill="clear" (click)="addToCart(p)">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>


</ion-content>
