
.custom-padding {
    padding: 15px;
}

.desc-font{
    color:rgb(92, 91, 91);
}

.slika {
    width: 200px; 
    height: 200px;
    margin-left: auto; 
    margin-right: auto;
    overflow: hidden;
}